.DS_Store
xcuserdata/
*.pbxuser
*.mode1v3
build/**/*
*.xcuserstate
project.xcworkspace/
xcuserdata/
*.xcuserstate

DoubleLinkList.xcodeproj/project.xcworkspace/xcuserdata/jbjohnston.xcuserdatad/UserInterfaceState.xcuserstate
